#Tue, 16 Apr 2013 17:07:12 +0100
app.name=MyApp

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=8dfa919e-be4d-4167-965d-3a1f122f911f
